
.progress-bar {
    width: 100%;
    border-radius: 5px;
    padding: 3px;
  }
  
  .progress {
    background-color: #4caf50;
    height: 20px;
    border-radius: 5px;
    width: 0;
  }

  .python-progress .progress {
    background-color: #ff2828;
  }
  
  .java-progress .progress {
    background-color: #25b6ff;
  }
  .golang-progress .progress {
    background-color: #008080;
  }

  .nlp-progress .progress {
    background-color: #c5b0d5;
  }

  .vue-progress .progress {
    background-color: #42b883;
  }
  
  .web-progress .progress {
    background-color: #2ecc71;
  }

  .sql-progress .progress {
    background-color: #8e44ad;
  }

  .c-progress .progress {
    background-color: #34495e;
  }
  .llm-progress .progress {
    background-color: #1a237e;
  }

  .vhdl-progress .progress {
    background-color: #3a5a40;
  }

  .react-progress .progress {
    background-color: #61DAFB;
  }

  .aws-progress .progress {
    background-color: #333333df;
  }
  .node-progress .progress {
    background-color: #333333df;
  }

  .azure-progress .progress {
    background-color: #aaf7aa;
  }

  .postman-progress .progress {
    background-color: #96ff96;
  }

  .pbi-progress .progress {
    background-color: #00B8AA;
  }

  .github-progress .progress {
    background-color: #f9d10a;
  }
  .springboot-progress .progress {
    background-color: #98FF98;
  }
  .docker-progress .progress {
    background-color: #7805b2;
  }
  .postgre-progress .progress {
    background-color:  #f9d10a;
  }

  .language-info {
  margin-left: 10px;
  color: #fff; 
}
  