.home-page {
    background: #F4F5F7 !important;

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #357DED !important;
        font-size: 53px;
        margin: 0;
        font-family: "Coolvetica";
        font-weight: 400;
        cursor: pointer;

        &::before {
            color: #357DED;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.25;
        }

        &::after {
            color: #357DED;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.25;
        }
    }

    h2 {
        color: #357DED !important;
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        font-family: sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #357DED !important;
        font-size: 15px;
        font-weight: 800;
        letter-spacing: 4px;
        text-decoration: none;
        padding: 10px 18px;
        border: 2px solid #357DED !important;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #357DED !important;
            color: #ffffff !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .home-page {
        .logo-container {
            width: 400px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .home-page {
        h1 {
            font-size: 40px;
            justify-content: center;
        }

        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
            display: inline-block;
            text-align: left;
        }

        .logo-container {
            position: relative;
            width: 250px;
            height: auto;
            top: 50px;
            right: 0;
            box-sizing: border-box;
            margin: auto;
            left: 0;

            svg {
                position: absolute;
                top: auto;
                right: auto;
                bottom: auto;
                left: 0;
                margin: auto;
            }
        }

        .flat-button {
            float: none;
            display: block;
            width: 125px;
        }
    }
}